.custom-header {
    text-shadow: 2px 2px 2px rgb(0, 0, 139, 0.5);
    font-size: 350%;
}

.custom-header::after {
    content: " ☀️";
}

.card {
    display: inline-block;
    border: none;
    margin-top: 5px;
}

.card-title {
    font-size: 100%;
    font-weight: bolder;
}
.card-text {
    font-size: 90%;
}

.card-design {
    border: solid black 3px;
    background-color: aliceblue;
    width: 200px;
    height: 240px;
    border-radius: 1rem;
}

.main-design {
    border: solid black 3px;
    border-radius: 1rem;
}

#description {
    font-style: italic;
}

#button-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.saved-button {
    display: block;
    margin: 3px;
}

#description {
    font-size: 150%;
    padding-bottom: 10px;
}

.ui-autocomplete .ui-menu-item {
    font-style: italic;
    color: black;
    background-color: #cfe2ff;;
    list-style: none;
    width: 10%;
  }